.hero{

min-height:65vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

background:linear-gradient(
180deg,
#080808,
#0D0D0D
);

padding-top:120px;

}

.content{

max-width:900px;

}

.content span{

color:var(--gold);

letter-spacing:4px;

text-transform:uppercase;

}

.content h1{

font-size:clamp(3rem,6vw,6rem);

color:var(--text-primary);

font-family:var(--font-heading);

margin:25px 0;

font-weight:500;

}

.content p{

color:var(--text-secondary);

font-size:1.2rem;

line-height:1.9;

max-width:650px;

margin:auto;

}