.hero {
    padding:120px 24px 80px;
    text-align:center;
    background:#0d0d0d;
}

.content{
    max-width:700px;
    margin:auto;
}

.hero h1{
    font-size:3rem;
    color:#d4af37;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    color:#d6d6d6;
    line-height:1.7;
}