.section{

padding:25px 0;

}

.container{

width:min(700px,90%);

margin:auto;

text-align:center;

}

.container span{

color:#C8A247;

letter-spacing:4px;

text-transform:uppercase;

font-size: 0.85rem;

}

.container h2{

font-family:var(--font-heading);

font-size:3rem;

margin:25px 0;

}

.container p{

color: var(--font-body);

margin-bottom:20px;

margin-top: 20px;

line-height:1.8;

font-size: 0.9rem;

}

.form{

display:flex;

gap:20px;

justify-content:center;

flex-wrap:wrap;

}

.form input{

flex:1;

min-width:280px;

padding:18px 20px;

background:var(--charcoal);

border:1px solid rgba(255,255,255,.08);

color:white;

font-size:0.9rem;

}

.form button{

padding:17px 36px;

color:var(--gold);

border:1.5px solid var(--gold);

cursor:pointer;

font-weight:400;

transition:.3s;

}

.form button:hover{

background:#D6B76A;
color:var(--white);

}