.section{

background: linear-gradient(
      to bottom,
      #111111 0%,
      #0D0D0D 10%,
      #090909 20%,
      #090909 80%,
      #0D0D0D 90%,
      #111111 100%
    );

padding:180px 0;

}

.container{

width:min(900px,90%);

margin:auto;

text-align:center;

}

.container p{

font-size:1.25rem;

line-height:2;

color:#B8B8B8;

margin-top:50px;

}