.button{

display:inline-flex;

align-items:center;

gap:20px;

overflow:hidden;

}

.button::after{

content:"";

width:70px;

height:1px;

background:var(--gold);

transition:.4s;

}

.button:hover::after{

width:120px;

}

.button:hover{

letter-spacing:4px;

}